@namespace MyDesktop.Components
@inject ISimulationEngine Engine

<h3>Process List</h3>
<table class="process-list">
    <thead>
        <tr>
            <th>PID</th>
            <th>Name</th>
            <th>State</th>
            <th>Priority</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var proc in Engine.Scheduler.Processes)
        {
            <tr>
                <td>@proc.Id</td>
                <td>@proc.Name</td>
                <td>@proc.State</td>
                <td>@proc.Priority</td>
            </tr>
        }
    </tbody>
</table>

@code {
    protected override void OnInitialized()
    {
        Engine.Scheduler.OnProcessStateChanged += HandleProcessChanged;
    }
    void HandleProcessChanged(object? sender, EventArgs e)
    {
        InvokeAsync(StateHasChanged);
    }
    public void Dispose()
    {
        Engine.Scheduler.OnProcessStateChanged -= HandleProcessChanged;
    }
} 