@page "/"
@inject ThemeManagerService ThemeManagerService
@inject MacOSTheme MacosTheme
@inject NightTheme NightTheme

<PageTitle>MyDesktop - macOS-like Web Desktop</PageTitle>

<div class="mydesktop-shell">
    <MenuBar />
    <Desktop />
    <Dock />
</div>

@code
{
    protected override void OnInitialized()
    {
        ThemeManagerService.RegisterTheme(MacosTheme);
        ThemeManagerService.RegisterTheme(NightTheme);
    }
}
